#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.page-wrap {
  background-color: rgba(117, 203, 203, 0.16);
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(248, 248, 248);
  font-size: 3rem;
  border-radius: 10px;
}


.game-contents{
  display: flex;
  justify-content: center;
  align-items: center;
}


nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgba(215, 233, 250, 0.418);
  transition: all ease 0.3s;
}

nav:hover {
  background-color: rgba(59, 57, 96, 0.872);
  transition: all ease 0.3s;
}

.nav-wrap{
  margin: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}


.resume{
  background-color: grey;
  padding: 0.4rem;
  border-radius: 10px;
  color: black;
  font-weight: 100;
  align-self: center;
}
